@component('components/layout/app', { title: 'Home · Nordic Sky Watch' })
  @slot('meta')
    <meta name="description" content="Latest observations across Scandinavia" />
  @end
  
  @slot('main')

  <div class="bg-zinc-900 py-24 sm:py-32">
    <h1>This is the observations page.</h1>
  </div>

  @end
@end