@component('components/layout/app', { title: 'Home · Nordic Sky Watch' })
@slot('meta')
<meta name="description" content="Latest observations across Scandinavia" />
@end

@slot('main')

<div class="bg-zinc-900 min-h-full py-24 sm:py-32">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <h1 class="text-base/7 font-semibold text-gray-300">Dette er en database over arkiverte nyheter, pressemeldinger
            og andre offentlige uttalelser.</h1>
    </div>
</div>

@end
@end